html {
    background-color: white;
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-image: linear-gradient(#d4d4d4,white);
    border: 5px solid;
    border-style: double;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

div {
    background-color: #dbdbdb;
    border: 7px solid black;
    border-style: double;
    border-radius: 15px;
    height: 200px;
    width: 230px;
}

#p1 {
    text-indent: 19%;
}

#span1 {
    padding: 5px;
    border: 1px solid black;
}

.list {
    padding-bottom: 10px;
}

.interests {
    margin-right: 10px;
}

#table1 {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.tableED {
    border: 2px solid black;
    text-align: center;
}

.tablelist {
    text-align: left;
}

.tablepicp {
    margin-bottom: -8px;
}

.tablepicp2 {
    margin-bottom: 2px;
}